.home-story-container {
  padding: 8px 0px 5px 0px;
  margin-top: 10px;
  background-color: white;
}

.story-img {
  width: 70px;
  height: 110px;
  background-color: #e5e5ed;
  margin: 0px auto;
  border-radius: 10px;
}
