.loginPage {
  background-color: #3b5999;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.loginFacebookLogo {
  width: 60%;
  height: 60%;
  padding-top: 120px;
  margin-bottom: 20px;
}

$input-radius: 3px;
.loginInput,
.loginButton {
  width: 83%;
  height: 50px;
  border-width: 0px;
  padding: 0px 10px;
  box-sizing: border-box;

  &.userInput,
  &.passwordInput {
    font-size: 15px;
  }

  &.userInput {
    border-radius: $input-radius $input-radius 0px 0px;
    border-width: 0px 0px 1px 0px;
  }
  &.passwordInput {
    border-radius: 0px 0px $input-radius $input-radius;
  }
  &:focus {
    outline-width: 0px;
  }
}

.loginButton {
  background-color: #4f69a2;
  margin-top: 8px;
  width: 83%;
  border-radius: $input-radius;
  text-align: center;

  text-decoration: none;
  vertical-align: middle;
  color: white;
  font-size: 18px;
  line-height: 2.4;
}

.loginTextContainer {
  margin-top: 90px;
  text-align: center;
}

.loginBottomText {
  margin-top: 25px;
}
