.footer-container {
    position: fixed;
    display: block;
    bottom: 0;
    width: 100%;
    height: 50px;
    background-color: white;
    z-index: 1;
    border-top: solid 1px #e5e5ed;
}

.icon-container {
    display: flex;
    justify-content: space-around;
    padding: 6px 0px;
}

.footer-icon {
    color: #68686A;
}