.home-post-container {
  background-color: white;
  padding: 10px;
  word-break: break-all;
  margin-top: 10px;
  border-bottom: #e5e5ed solid 1px;
}

.post-title-container {
  display: flex;
}

.post-profile-image {
  position: absolute;
}

.post-profile-name {
  margin-left: 50px;
  line-height: 1;
}

.post-date {
  margin-left: 50px;
  font-size: 12px;
  color: gray;
}

.post-content {
  margin-top: 10px;
}

.post-status {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.detail-flex {
  display: flex;
}

.post-interact-container {
  margin-top: 5px;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
  // border-bottom: 1px  solid #e5e5ed;
  border-top: 1px solid #e5e5ed;
}

.text-after-icon {
  margin-left: 5px;
}

.post-comment-input {
  border-radius: 10px;
  border: #e5e5ed solid 1px;
  width: auto;
  height: 10px;
  width: 100%;
  padding: 12px;
  box-sizing: border-box;

  &:focus {
    outline-width: 0px;
  }
}

.post-comment-container {
  margin: 10px 0px;
}

.post-comment-text {
  margin-left: 40px;
  line-height: 1;
  background-color: #e5e5ed;
  border-radius: 15px;
  padding: 4px 10px;
  display: inline-block;
  min-height: 20px;
}

.post-comment-option-container {
  display: flex;
  margin-left: 50px;
  font-size: 10px;
}

.post-comment-time-text {

  color: gray;
}