@mixin messageContainer {
  margin-top: 10px;
  display: flex;
}

@mixin messageBorder {
  border-radius: 20px;
  padding: 10px 16px;
  line-height: 1.2;
  font-size: 22px;
}

.myMessageContainer {
  @include messageContainer;
  justify-content: flex-end;
  .messageBorder {
    @include messageBorder;
    color: white;
    background-color: #3f98f3;
  }
}

.otherMessageContainer {
  @include messageContainer;
  .messageBorder {
    @include messageBorder;
    background-color: #f1f1f1;
  }
}

// .icon-container {
//   display: flex;
//   justify-content: space-around;
//   height: 100%;
//   align-items: center;
// }

// .footer-icon {
//   color: #68686A;
// }
